{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:storybook/recommended"
  ],
  "ignorePatterns": ["/build/", "/coverage/", "/docs/", "/lib/", "/postcss.config.js", "/tailwind.config.js"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "project": ["./tsconfig.json"]
  },
  "plugins": ["@typescript-eslint", "jsx-a11y", "react", "react-hooks", "storybook"],
  "root": true,
  "rules": {
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/consistent-type-imports": "warn",
    "jsx-a11y/anchor-is-valid": "off",
    "react/no-unescaped-entities": "off"
  }
}
