@theme {
  --animate-shrink: shrink-in 0.2s ease-in-out;
  --animate-shrink-out: shrink-out 0.2s ease-in-out;
  --animate-shrink-x: shrink-x 0.2s ease-in-out;
  --animate-shrink-y: shrink-y 0.2s ease-in-out;

  --shrink-scale: 0.8;
  --shrink-scale-x: 0.8;
  --shrink-scale-y: 0.8;

  @keyframes shrink-in {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(var(--shrink-scale));
    }
  }

  @keyframes shrink-out {
    from {
      transform: scale(var(--shrink-scale));
    }
    to {
      transform: scale(1);
    }
  }

  @keyframes shrink-x {
    from {
      transform: scaleX(1);
    }
    to {
      transform: scaleX(var(--shrink-scale-x));
    }
  }

  @keyframes shrink-y {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(var(--shrink-scale-y));
    }
  }
}
