@theme {
  --animate-wiggle: wiggle 1s ease-in-out;

  --wiggle-rotate: 3deg;
  --wiggle-rotate-negative: calc(-1 * var(--wiggle-rotate));

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(var(--wiggle-rotate-negative));
    }
    50% {
      transform: rotate(var(--wiggle-rotate));
    }
  }
}
