@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-weight: 400;
	font-family: Poppins;
	font-style: normal;
	src: local("Poppins"), url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
	font-display: auto;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--font-family-title: "Poppins", arial, sans-serif;
	--font-family-body: "Poppins", arial, sans-serif;

	font-family: var(--font-family-body);
}
code {
	font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-title);
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
