
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: local("Poppins"), url("./fonts/Poppins-Regular.ttf") format("truetype");
}

/* Base Styles */

// Breakpoints
:root{
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--breakpoint-xxl: 1400px;
}

// Font Sizes
:root{
	--font-size-xxs: 0.5rem;
	--font-size-xs: 0.75rem;
	--font-size-sm: 0.875rem;
	--font-size-md: 1rem;
	--font-size-lg: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-xxl: 1.5rem;
	--font-size-xxxl: 2rem;
	--font-size-xxxxl: 3rem;
}

// Font Weights
:root{
	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
}

// Spacing 
:root{
	--spacing-none: 0;
	--spacing-xxs: 0.25rem;
	--spacing-xs: 0.5rem;
	--spacing-sm: 0.75rem;
	--spacing-md: 1rem;
	--spacing-lg: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-xxl: 3rem;
	--border-radius: 0.25rem;
}

// Border Radius
:root{
	--radius-none: 0;
	--radius-xs: 1px;
	--radius-sm: 2px;
	--radius-md: 5px;
	--radius-lg: 10px;
	--radius-xl: 20px;
	--radius-xxl: 30px;
}
// Font Family	
:root{
	--font-family-title: "Poppins", Arial, sans-serif;
	--font-family-body: "Poppins", Arial, sans-serif;
}

// Shadows 
:root{
	--shadow-none: none;
	--shadow-xs: 0 0 0 1px rgba(0, 0, 0, 0.05);
	--shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	--shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
	--shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
	--shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
	--shadow-xxl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
	--shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
	--shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
}



* {
	margin: var(--spacing-none);
	padding: var(--spacing-none);
	box-sizing: border-box;
}
:root {
	font-family: var(--font-family-body);
	code{
		font-family: var(--font-family-body);
	}
	h1,h2,h3,h4,h5,h6 {
		font-family: var(--font-family-title);
	}
}