@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 14;
}

h1 {
	font-size: 2.5rem;
	font-weight: 800;
}
h2 {
	font-size: 2rem;
	font-weight: 800;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.container-snap::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container-snap {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
