@import "tailwindcss";
/* @import "@polgubau/animated"; */
@import "../src/plugins/tailwind.css";

@font-face {
  font-family: "Poppins";
  src: url("./Poppins-Regular.ttf") format("truetype");
}
@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}
