@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* Vars for tailwind keyframes */

  --smallSlideDistance: 0.5rem;
  --longSlideDistance: 200px;
}
@layer base {
  @font-face {
    font-family: 'Inter';
    src: url(inter.ttf) format('truetype');
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-display: swap;
  }

  html {
    font-family: 'Inter', sans-serif;
  }
}
