:root {
	--theme-white: 250, 240, 240;
	--theme-black: 35, 35, 35;

	--theme-primary: 42, 41, 69;
	--theme-primary-inverted: 180, 188, 255;

	--theme-secondary: 67, 93, 176;
	--theme-secondary-inverted: 188, 187, 235;

	--theme-accent: 255, 179, 0;
	--theme-accent-inverted: 223, 230, 95;

	--theme-success: 155, 200, 142;
	--theme-success-inverted: 155, 200, 142;

	--theme-danger: 255, 123, 123;
	--theme-danger-inverted: 255, 123, 123;

	--theme-info: 86, 202, 202;
	--theme-info-inverted: 86, 202, 202;
}

.trackup {
	--theme-white: 243, 246, 247;
	--theme-black: 22, 30, 41;

	--theme-primary: 42, 41, 69;
	--theme-primary-inverted: 180, 188, 255;

	--theme-secondary: 67, 93, 176;
	--theme-secondary-inverted: 139, 143, 146;

	--theme-accent: 226, 78, 27;
	--theme-accent-inverted: 242, 111, 70;

	--theme-success: 155, 200, 142;
	--theme-success-inverted: 155, 200, 142;

	--theme-danger: 255, 123, 123;
	--theme-danger-inverted: 255, 123, 123;

	--theme-info: 86, 202, 202;
	--theme-info-inverted: 86, 202, 202;
}
